boto3==1.35.99
certifi==2020.12.5
channels==4.2.0
channels_redis==4.2.1
chardet==3.0.4
device-detector==0.10
Django==5.2.14
django-cors-headers==4.6.0
django-request-logging==0.7.5
django-storages==1.14.6
djangorestframework==3.15.2
idna==2.10
jmespath==0.10.0
numpy==1.26.0
pandas==2.1.1
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
PyYAML==6.0.2
regex==2023.10.3
requests==2.32.5
six==1.17.0
sqlparse==0.4.1
tqdm==4.51.0
urllib3==1.26.20
Pillow==10.1.0
django-tenants==3.10.1
Markdown==3.7
drf-yasg==1.21.15
django-safedelete==1.4.1
drf-social-oauth2==3.2.0
django-oauth-toolkit==3.2.0
social-auth-app-django==5.8.0
social-auth-core==4.8.5
sentry-sdk==2.19.2
django-silk==5.3.2
daphne==4.1.2
django-redis==6.0.0
