# Includes dev-specific dependencies on top of requirements.txt
-r requirements.txt
appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.1
boto3==1.15.1
botocore==1.18.1
certifi==2020.12.5
cfgv==3.2.0
chardet==3.0.4
device-detector==0.10
distlib==0.3.1
Django==3.1.1
django-cors-headers==3.7.0
django-request-logging==0.7.2
django-s3-storage==0.13.4
django-storages==1.11.1
djangorestframework==3.12.2
dodgy==0.2.1
filelock==3.0.12
flake8==3.8.4
flake8-polyfill==1.0.2
identify==2.1.1
idna==2.10
isort==4.3.21
jmespath==0.10.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
nodeenv==1.5.0
numpy==1.22.2
pandas==1.2.2
pep8-naming==0.10.0
pre-commit==2.11.0
prospector==1.3.1
pycodestyle==2.6.0
pydocstyle==5.1.1
pyflakes==2.2.0
pylint==2.5.3
pylint-celery==0.3
pylint-django==2.1.0
pylint-flask==0.6
pylint-plugin-utils==0.6
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.4.1
regex==2020.11.13
requests==2.24.0
requirements-detector==0.7
s3transfer==0.3.4
setoptconf==0.2.0
six==1.15.0
snowballstemmer==2.1.0
sqlparse==0.4.1
toml==0.10.2
tqdm==4.51.0
urllib3==1.25.11
virtualenv==20.4.2
wrapt==1.12.1
django-rest-swagger==2.2.0
