container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_migrate:
    command: "echo \"from django.contrib.auth.models import User; User.objects.create_superuser('ivideo_admin', 'avantied@avanti.in', 'avanti123')\" | python manage.py shell"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: ivideo.settings
