<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'ivideo/style.css' %}">
    <title>Avanti iVideo</title>
</head>
<body>
    <div class="title">
        <h1>Avanti iVideo</h1>
    </div>

    <h2>Welcome to the Avanti iVideo Admin Page!</h2>

    <a href="http://dry-atoll-92279.herokuapp.com/" target="blank">Create new ivideo</a>
    <p>After creating, refresh this page to see your video in the list</p>

    <div class="sub_title">
        <h2>Available Videos</h2>
        {% if all_ivideos %}
            {% for ivideo in all_ivideos %}
                <ul>
                    <li> Video ID: <a href="player/{{ ivideo.object_id }} ">{{ ivideo.object_id }}</a> </li>
                </ul>
            {% endfor %}
        {% endif %}
    </div>
    
</body>
</html>