<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'ivideo/style.css' %}">
    <title>Plio</title>
</head>
<body>
    <div class="title">
        <h1>Plio</h1>
    </div>

    <h2>Welcome to the Plio Admin Page!</h2>

    <a href="http://dry-atoll-92279.herokuapp.com/" target="blank">Create new ivideo</a>
    <p>After creating, refresh to see your video in the list below</p>

    <div class="sub_title">
        <h2>Available Videos</h2>
        <div class="ivideos">
        {% if all_ivideos %}
            {% for ivideo in all_ivideos %}
                
                <a href="player/{{ ivideo.object_id }} " class="ivideo">
                    <div class="title">
                        {{ ivideo.title }}
                    </div>
                    <div class="created_date">
                        <i>Created: </i> {{ ivideo.created }}
                    </div>
                    <div class="id">
                        ID: {{ ivideo.object_id }}
                    </div>
                    </a>
                
                
            {% endfor %}
        {% endif %}
    </div>
    </div>

    <a href="https://plio.in/">Go to Plio Home</a>
    
</body>
</html>