<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'plio/style.css' %}">
    <title>Plio</title>
</head>
<body>
    <div class="title">
        <h1>Plio</h1>
    </div>

    <h2>Welcome to the Plio Admin Page!</h2>

    <a href="https://plio.in/">Go to Plio Home</a> <br>
    <a href="http://dashboard.plio.in/" target="blank">Create new Plio</a>
    <p>After creating, refresh to see your video in the list below</p>

    <div class="sub_title">
        <h2>Available Plios</h2>
        <div class="plios">
        {% if all_plios %}
            {% for plio in all_plios %}
                
                <a href="player/{{ plio.object_id }} " class="plio">
                    <div class="title">
                        {{ plio.title }}
                    </div>
                    <div class="created_date">
                        <i>Created: </i> {{ plio.created }}
                    </div>
                    <div class="id">
                        ID: {{ plio.plio_id }}
                    </div>
                    </a>
                
            {% endfor %}
        {% endif %}
    </div>
    </div>
    
</body>
</html>