<!DOCTYPE html>
<html>
    <head>
        <style>
        .text-white {
            --tw-text-opacity: 1;
            color: rgba(255, 255, 255, var(--tw-text-opacity));
        }
        .text-lg {
            font-size: 1.25rem;
            line-height: 1.75rem;
        }
        </style>
    </head>
    <body>
        <div>
            <div style="background-color:#eaedec">
            <div style="margin:0px auto;max-width:680px">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
                    <tbody>
                        <tr>
                        <td style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0px;padding-top:0px;text-align:center">
                            <div class="m_1481667341338239460mj-column-px-680" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">
                                    <tbody>
                                    <tr>
                                        <td align="center" style="font-size:0px;padding:0px;word-break:break-word">
                                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                                                <tbody>
                                                <tr>
                                                    <td style="width:680px">
                                                        <img alt="" height="auto" src="https://raw.githubusercontent.com/avantifellows/plio-frontend/master/src/assets/images/Banner.png" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px" width="680" class="CToWUd a6T" tabindex="0">
                                                        <div class="a6S" dir="ltr" style="opacity: 0.01; left: 632px; top: 174px;">
                                                            <div id=":11n" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download">
                                                            <div class="akn">
                                                                <div class="aSK J-J5-Ji aYr"></div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="background:white;background-color:white;margin:0px auto;max-width:680px">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:white;background-color:white;width:100%">
                    <tbody>
                        <tr>
                        <td style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0px;padding-top:0px;text-align:center">
                            <div style="margin:0px auto;max-width:680px">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
                                    <tbody>
                                    <tr>
                                        <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center">
                                            <div class="m_1481667341338239460mj-column-px-680" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word">
                                                            <div style="font-family:Encode Sans,Helvetica,Arial,-apple-system,sans-serif;font-size:16px;font-weight:400;line-height:24px;text-align:left;color:#5e5e5e">Hooray 🎉  You’re off the waitlist - welcome to Plio :)<br><br>With Plio, you can unlock the true potential of videos by making them interactive and understanding how your viewers engage with them.<br><br>Watch <a href="https://www.youtube.com/watch?v=7twYCdb32PE" target="_blank">this</a> demo video to understand how you can easily make your videos interactive using Plio.</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word">
                                                            <div style="font-family:Encode Sans,Helvetica,Arial,-apple-system,sans-serif;font-size:16px;font-weight:400;line-height:24px;text-align:left;color:#5e5e5e">Start pliofying the world by making your videos interactive today.</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word">
                                                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center" bgcolor="#F78000" role="presentation" style="border:none;border-radius:4px;background:#F78000" valign="middle"><a href="https://app.plio.in/" style="display:inline-block;background:#F78000;color:#ffffff;font-family:Encode Sans,Helvetica,Arial,-apple-system,sans-serif;font-size:18px;font-weight:300;line-height:30px;margin:0;text-decoration:none;text-transform:none;padding:12px 50px;border-radius:4px" target="_blank">Create a Plio</a></td>
                                                                </tr>
                                                            </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word">
                                                            <div style="font-family:Encode Sans,Helvetica,Arial,-apple-system,sans-serif;font-size:16px;font-weight:400;line-height:24px;text-align:left;color:#5e5e5e"><br>We sincerely hope that you'll enjoy Plio and we are eagerly waiting to hear from you about your experience.</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word">
                                                            <div style="font-family:Encode Sans,Helvetica,Arial,-apple-system,sans-serif;font-size:16px;font-weight:400;line-height:24px;text-align:left;color:#5e5e5e">Cheers,<br>Plioneers</div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="margin:0px auto;max-width:680px">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
                                    <tbody>
                                    <tr>
                                        <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center">
                                            <div class="m_1481667341338239460mj-column-px-680" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word">
                                                            <div style="font-family:Encode Sans,Helvetica,Arial,-apple-system,sans-serif;font-size:14px;font-weight:400;line-height:24px;text-align:center;color:#5e5e5e"><a href="https://plio.in" style="text-decoration:none" target="_blank">www.<span class="il">plio</span>.in</a><br>Bengaluru, India</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word">
                                                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="width:32px"><a href="https://twitter.com/learn_from_plio" target="_blank"><img height="auto" src="https://ci4.googleusercontent.com/proxy/-k49hjOcV0EjhZcA3zTYYPJndgWLPcv4IZvOOy6LMm3uS0Dh8KuMf2H6zk87QVj2S2awMaxo1BZwWNgoDCQpHuluX-Rl_nnP4mmu6DAyh0GXGWDwKVgxkg=s0-d-e1-ft#https://centered-images.s3-us-west-1.amazonaws.com/emails/twitter.png" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px" width="32" class="CToWUd"></a></td>
                                                                </tr>
                                                            </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
