body {
    font-family: Avenir, Helvetica, sans-serif;   
    text-align: center;
}

h1, h2 {
    text-align: center;
}

ul {
    list-style-type: none;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (min-width: 720) {
    body {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}