body {
    font-family: Avenir, Helvetica, sans-serif;   
    text-align: center;
}

h1, h2 {
    text-align: center;
}

.ivideos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.ivideo {
    color:white;
    border: 1px solid #ccc;
    background: #CC593D;
    padding: 2rem;
    border-radius: 5px;
    text-align: center;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.ivideo a {
    text-decoration: none;
    color: white;
}

.ivideo a:visited {
    text-decoration: none;
    color: white;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (min-width: 720) {
    body {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}